seqPAC/pac_merged.rds
seqPAC/SRR13129038.trim.fastq.gz
seqPAC/SRR13129039.trim.fastq.gz
seqPAC/SRR13129037.trim.fastq.gz
seqPAC/SRR13129036.trim.fastq.gz
seqPAC/SRR13129040.trim.fastq.gz
seqPAC/pac_final.rds
seqPAC/fasta/biomartr_genome/Mus_musculus.GRCm38.dna.toplevel.fa
seqPAC/fasta/repeatMasker/Mus_musculus_rm_refseq.out.gz
seqPAC/fasta/repeatMasker/repeatMasker.gtf
seqPAC/fasta/uscs_genome/index.rev.2.ebwt
seqPAC/fasta/uscs_genome/index.2.ebwt
seqPAC/fasta/uscs_genome/index.4.ebwt
seqPAC/fasta/uscs_genome/index.rev.1.ebwt
seqPAC/fasta/uscs_genome/mm10_ucsc.fa
seqPAC/fasta/uscs_genome/index.1.ebwt
seqPAC/fasta/alignment/anno_mis1.fa
seqPAC/fasta/alignment/anno_mis0.fa
seqPAC/fasta/alignment/ncRNA.out
seqPAC/fasta/alignment/ucsc.out
shortRNA/03_tse/fastq/unique.fasta
shortRNA/03_tse/annotation/db.rds
shortRNA/03_tse/tse.rds
shortRNA/02_qc/output/SRR13129037_R1.fastq.gz
shortRNA/02_qc/output/SRR13129038_R1.fastq.gz
shortRNA/02_qc/output/SRR13129039_R1.fastq.gz
shortRNA/02_qc/output/SRR13129036_R1.fastq.gz
shortRNA/02_qc/output/SRR13129040_R1.fastq.gz
shortRNA/02_qc/output/SRR13129042_R1.fastq.gz
shortRNA/02_qc/output/SRR13129041_R1.fastq.gz
shortRNA/02_qc/output/SRR13129043_R1.fastq.gz
shortRNA/genome/customGenome.00.b.array
shortRNA/genome/customGenome.fasta.gz
shortRNA/genome/customGenome.00.b.tab
shortRNA/genome/customGenome.fasta
sports1/8_SRR13129043/SRR13129043_result/SRR13129043_output.txt
sports1/4_SRR13129039/SRR13129039_result/SRR13129039_output.txt
sports1/6_SRR13129041/SRR13129041_result/SRR13129041_output.txt
sports1/3_SRR13129038/SRR13129038_result/SRR13129038_output.txt
sports1/1_SRR13129036/SRR13129036_result/SRR13129036_output.txt
sports1/2_SRR13129037/SRR13129037_result/SRR13129037_output.txt
sports1/5_SRR13129040/SRR13129040_result/SRR13129040_output.txt
sports1_old/8_SRR13129043/SRR13129043_result/SRR13129043_output.txt
sports1_old/4_SRR13129039/SRR13129039_result/SRR13129039_output.txt
sports1_old/6_SRR13129041/SRR13129041_result/SRR13129041_output.txt
sports1_old/3_SRR13129038/SRR13129038_result/SRR13129038_output.txt
sports1_old/1_SRR13129036/SRR13129036_result/SRR13129036_output.txt
sports1_old/2_SRR13129037/SRR13129037_result/SRR13129037_output.txt
sports1_old/5_SRR13129040/SRR13129040_result/SRR13129040_output.txt
data/rm_UMIc/UMIc/all.RData
data/raw/SRR13129038.fastq.gz
data/raw/SRR13129042.fastq.gz
data/raw/SRR13129043.fastq.gz
data/raw/SRR13129039.fastq.gz
data/raw/SRR13129037.fastq.gz
data/raw/SRR13129041.fastq.gz
data/raw/SRR13129036.fastq.gz
data/raw/SRR13129040.fastq.gz
data/rmUMI/SRR13129038.fastq.gz
data/rmUMI/SRR13129042.fastq.gz
data/rmUMI/SRR13129043.fastq.gz
data/rmUMI/SRR13129039.fastq.gz
data/rmUMI/SRR13129037.fastq.gz
data/rmUMI/SRR13129041.fastq.gz
data/rmUMI/SRR13129036.fastq.gz
data/rmUMI/SRR13129040.fastq.gz
data/qc_thesis/SRR13129036_R1.fastq.gz
data/rmUMI_fq/SRR13129036.fastq
data/rmUMI_fq/SRR13129043.fastq
data/rmUMI_fq/SRR13129040.fastq
data/rmUMI_fq/SRR13129041.fastq
data/rmUMI_fq/SRR13129042.fastq
data/rmUMI_fq/SRR13129037.fastq
data/rmUMI_fq/SRR13129038.fastq
data/rmUMI_fq/SRR13129039.fastq
data/just_rmUMI/SRR13129036.fastq.gz
